body{
    background-color: #fff;
}

.fondo{
    height: 400px;
    background-color: grey;
    background-image: url(http://placekitten.com/200/300);
    background-repeat: no-repeat;
    background-position: right bottom;
    /*background-attachment: fixed; //para que se mueva mientras se mueve el cursor*/
}

#section-2{
    height: 400px;
    width: 100px;
    padding: 20px;
    background-image: url(http://placekitten.com/100/200);
    background-repeat: no-repeat;
    background-position: right;
}

.fondo_grad{
    background-image: linear-gradient(-45deg, white, black); /*linear-gradient(direccion, color, color2);*/
}

.box{
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3); /*inset: sensación de que se encuentra levantado*/
}

.text{
    color: white;
    text-shadow: 0px 1px 2px rgba(255,0,0,0.3);
}
